* {
    font-family: "Source Sans Pro", sans-serif;
  }
  
  :root {
    --bg: #E6EEF8;
    --aninumber1-delay: 2.7s;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: var(--bg);
  }
  
  .content {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #9575CD;
    transform: translate(-50%, -60%);
  }
  .content h1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #9575CD;
    align-items: center;
  }
  .content span {
    font-size: 250px;
    font-weight: 900;
    color: #9575CD;
    text-shadow: -5px 4px 17px #E6EEF8;
  }
  .content span:nth-child(1) {
    transform: translate(-635px, 0px);
    animation: aninumber1 2s ease-out var(--aninumber1-delay) forwards;
  }
  @keyframes aninumber1 {
    0% {
      transform: translate(-635px, 0px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    65% {
      transform: translate(15%, 0px);
    }
    75% {
      transform: translate(0px, 0px);
    }
    85% {
      transform: translate(-35%, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  .content span:nth-child(2) {
    transform: translate(0px, -635px);
    animation: aninumber2 2s ease-out var(--aninumber1-delay) forwards;
  }
  @keyframes aninumber2 {
    0% {
      transform: translate(0px, -635px);
    }
    50% {
      transform: translate(0px, 0px);
      font-size: 250px;
    }
    65% {
      transform: translate(0px, 0px);
      font-size: 0px;
    }
    75% {
      transform: translate(0px, 0px);
      font-size: 250px;
    }
    85% {
      transform: translate(0px, 0px);
      font-size: 315px;
    }
    100% {
      transform: translate(0px, 0px);
      font-size: 250px;
    }
  }
  .content span:nth-child(3) {
    transform: translate(635px, 0px);
    animation: aninumber3 2s ease-out var(--aninumber1-delay) forwards;
  }
  @keyframes aninumber3 {
    0% {
      transform: translate(635px, 0px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    65% {
      transform: translate(-15%, 0px);
    }
    75% {
      transform: translate(0px, 0px);
    }
    85% {
      transform: translate(35%, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .sometxt {
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    width: 420px;
    text-align: center;
    bottom: -500px;
    color: var(--bg);
    text-shadow: 0px 0px 8px #9575CD;
    animation: sometxt 1s ease-out 5s forwards;
  }
  @keyframes sometxt {
    0% {
      bottom: -500px;
    }
    100% {
      bottom: 50px;
    }
  }
  .sometxt a {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 5px 20px 10px 20px;
    background: var(--bg);
    border-radius: 50px;
    box-shadow: -5px -5px 10px #fff,
                5px 5px 20px #BABECC;
    text-decoration: none;
    color: transparent;
    text-shadow: 1px 2px 1px #9575CD;
    transition: 1s;
    animation: sometxtlink 1s ease-out 5.5s forwards;
  }
  @keyframes sometxtlink {
    0% {
      bottom: -500px;
    }
    100% {
      bottom: -60px;
    }
  }
  .sometxt a:hover {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.397),
      inset 0px 0px 6px 0px rgba(191, 201, 231, 0.582);
    color: var(--bg);
    text-shadow: 0px 0px 8px #ced0d3;
  }
  .sometxt a:active {
    color: var(--bg);
    box-shadow: -4px -4px 12px rgba(253, 248, 248, 0.486),
      4px 4px 12px rgba(191, 201, 231, 0.582);
    text-shadow: 0px 0px 7px #ced0d3d8;
  }
  
  .stick {
    --x: -250px;
    --y: 150px;
    --wed: 500px;
    --hei: 60px;
    height: 50px;
    width: 0px;
    position: absolute;
    border-radius: 70px;
    transform: rotate(var(--ro));
    animation: anisti 1s linear forwards;
    background: var(--bg);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 100, 0.01),
      5px 5px 16px 0px rgba(0, 0, 100, 0.1);
  }
  .stick:nth-child(1) {
    bottom: var(--y);
    left: var(--x);
  }
  .stick:nth-child(2) {
    --ro: 90deg;
    top: calc(((var(--y)) + (var(--hei))) * (-1));
    left: calc(((var(--x) * 2) + (var(--wed))) * (-1));
  }
  .stick:nth-child(3) {
    top: var(--y);
    right: var(--x);
  }
  .stick:nth-child(4) {
    --ro: 90deg;
    bottom: calc(((var(--y)) + (var(--hei))) * (-1));
    right: calc(((var(--x) * 2) + (var(--wed))) * (-1));
  }
  @keyframes anisti {
    0% {
      width: 0px;
    }
    100% {
      width: 500px;
    }
  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle .cir {
    position: absolute;
    border-radius: 50%;
    background: var(--bg);
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 100, 0.01),
      inset 0px 0px 15px 0px rgba(0, 0, 100, 0.1);
  }
  .circle .cir:nth-child(1) {
    width: 0px;
    height: 0px;
    animation: anicir1 1s ease-in 1.5s forwards;
  }
  .circle .cir:nth-child(2) {
    width: 0px;
    height: 0px;
    animation: anicir2 1s ease-in 2s forwards;
  }
  .circle .cir:nth-child(3) {
    width: 0px;
    height: 0px;
    animation: anicir3 1s ease-in 2.3s forwards;
  }
  @keyframes anicir1 {
    0% {
      width: 0%;
      height: 0%;
    }
    100% {
      width: 500px;
      height: 500px;
    }
  }
  @keyframes anicir2 {
    0% {
      width: 0%;
      height: 0%;
    }
    100% {
      width: 350px;
      height: 350px;
    }
  }
  @keyframes anicir3 {
    0% {
      width: 0%;
      height: 0%;
    }
    100% {
      width: 230px;
      height: 230px;
    }
  }
